__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.db
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
.env
*.pot
*.pyc
.DS_Store
.idea/
.vscode/
*.egg-info/
.eggs/
dist/
build/
*.mo
*.swp
*.swo
.coverage
htmlcov/
*.pid
celerybeat-schedule
*.tgz
*.gz
*.zip
*.tar
.http
node_modules/
